<div class="container">
    <div class="row d-flex justify-content-center m-4">
      <div class="col-sm-6 m-auto input-group">
        <input type="text" [(ngModel)]="newCategory" placeholder="Ajouter une nouvelle catégorie">
        <button class="btn btn-primary" (click)="addCategory(newCategory)">Ajouter une catégorie</button>
      </div>
      <!-- <div class="col-6">
        <div class="row">
          <div class="col-10 m-auto input-group">
            <input type="text" [(ngModel)]="newAccount" placeholder="Ajouter une nouvelle sous-catégorie">
            <button class="btn btn-primary" (click)="addAccount()">Ajouter une sous-catégorie</button>
            <div *ngFor="let account of accounts">
              <app-account [account]=account></app-account>
            </div>
            <div>
              <button class="btn btn-primary" (click)="MakeTransactionFromFirstToSecond()">Faire une transaction</button>            </div>
          </div>
        </div>
      </div> -->
    </div>


    <table class="table" *ngFor="let cat of cats">
      <thead>
        <tr>
          <th scope="col">{{cat.title}}</th>
          <th scope="col">{{cat.sum}}</th>
          <th scope="col">{{cat.final}}</th>
          <th scope="col" class="text-center">
            <a *ngIf="!cat.addSub;else addSubTitle" (click)="cat.addSub=true">Ajouter une sous-catégorie</a>
            <ng-template #addSubTitle>
              <input type="text" placeholder="Entrer le nom de la sous category"
                (keydown.enter)="addSubCategory($event,cat)"/>
            </ng-template>
          </th>
        </tr>
      </thead>
      <tbody *ngFor="let sub of cat.subs">
        <tr>
          <td scope="row">{{sub.title}}</td>
          <td>{{sub.sum}}</td>
          <td>{{sub.final}}</td>
          <td class="text-center">
            <i *ngIf="!sub.beginInputNewAmount;else inputNewAmount" class="bi bi-plus-circle" (click)="sub.beginInputNewAmount=true"></i>
            <ng-template #inputNewAmount>
              <input type="number" value="0" min="0" placeholder="Enter le montant en dh"
                (keydown.enter)="saveAmount($event,sub,cat)"/>
            </ng-template>
          </td>
        </tr>
      </tbody>
    </table>


  </div>
